.header {
  text-align: center;
  margin-top: 25px;
}

.container {
  display: flex;
}

.row {
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

input[type='submit'], button, [aira-label] {
  cursor: pointer;
}

#edit-box {
  display: none;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
}

#tasks {
  text-align: left;
}

#counter {
  margin-top: 20px;
}
